*,
:after,
:before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #212529;
    text-align: left;
    background-color: #fff;
}

.header {
    width: 100%;
    height: 150.8px;
    z-index: 9999;
    top: 0;
    position: sticky;
    background: #fff;
}

.top-header {
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 9px 0;
    height: 50px;
    margin-right: 1.2%;
}

.location-img {
    height: 18px;
    width: 13px;
    margin-right: 10px;
    margin-top: 1px;
}

.location-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #202124;
    font-family: "National 2 Regular";
    height: 32px;
    padding-top: 5px;
    line-height: 24px;
}

.location {
    height: 32px;
    font-size: 12px;
    width: 99px;
    font-weight: bold;
    line-height: 22px;
    margin-left: 23px;
    color: #fff;
    background-color: #202124;
    border: solid #494949;
    border-radius: 10rem;
    text-align: center;
    cursor: pointer;

}

.top-header-divider {
    margin: 0;
    border: 0;
    border-top: 1px solid #dbdbdb;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    align-items: center;
}

.header-logo {
    margin: 38px 44.26px 39.48px 130px;
    cursor: pointer;
    vertical-align: middle;
    border-style: none;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.nav-items-left {
    display: flex;
    padding-top: 4px;
    font-weight: 500;
    padding: 0;
    margin-right: 43px;
}

.nav-items {
    white-space: pre;
    padding: 0 15px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #202124;
    text-decoration: none
}

.item-button {
    all: unset;
    cursor: pointer;
    position: relative;
}

.nav-items-right {
    display: flex;
    position: absolute;
    right: 0;
    margin-right: 131.22px;
    width: auto;
    font-weight: 500;
}

.sign-in {
    border-right: 1px solid #e3e3e3;
    margin: 5% 0;
    padding: 0 15px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #202124;
    text-decoration: none;

}

img,
svg {
    vertical-align: middle;
    border-style: none;
}

.signin-text {
    text-transform: capitalize;
    font-weight: 700;
    margin-left: 12px;
}

.cart {
    padding: 0 15px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #202124;
    text-decoration: none;
}

.cart-button {
    all: unset;
    cursor: pointer;
    position: relative;
    display: flex;
}

.price {
    margin-top: 3px;
    margin-left: 1px;
    margin-right: 1px;
    line-height: 47px;
    font-weight: 700;
}

.cart-icon {
    width: 3.2rem;
}

.cart-img {
    max-width: 100%;
    vertical-align: middle;
    border-style: none;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.cart-icon-count {
    font-weight: 700;
    position: absolute;
    top: 5px;
    right: 22px;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 15px;
    font-size: 13px;
    text-align: center;
    font-family: "National 2 Condensed";
    font-style: normal;
    font-weight: 700;
}

.main {
    width: 100%;
}

.top-main {
    position: relative;
    display: flex;
    background: #202124;
    height: 68px;
}

.top-main-content {
    display: flex;
    margin: .5% auto;
    align-items: center;
}

.top-main-content-text {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    text-transform: none;
    display: inline-flex;
    letter-spacing: normal;
    color: #fff;
    margin: auto 15px auto auto;
}

.store-location {
    display: flex;
}

.map-img {
    height: 18px;
    width: 13.2px;
    margin-right: 5px;
}

.location-content {
    max-width: 600px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.content-time {
    margin-right: 7px;
}

.clock-img {
    margin-left: 15px;
    height: 18px;
    width: 18px;
    margin-right: 5px;
}

.content-store {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    text-transform: none;
    display: inline-flex;
    letter-spacing: normal;
    color: #fff;
    margin: auto 15px auto auto;
}

.change-location {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding: 2px 10px 3px;
    height: 32px;
    width: 71px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 22px;
    align-self: center;
    cursor: pointer;
    border-radius: 10rem;
    text-align: center;
}

.order-type {
    text-align: center;
    padding-bottom: 30px;
}

.stripes {
    margin: -3px auto 0;
    height: 30px;
}

.headline {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #202124;
    margin-top: 24px;
}

.gap {
    margin-top: 1%;
    font-family: "National 2 Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -.1px;
    color: #202124;
}

.choose-ordertype {
    background: #e3e3e3;
    display: inline-flex;
    border-radius: 200px;
    margin-top: 20px;
    padding: 2px;
    margin-bottom: .5rem;
}

.active-button {
    background: #e4002b;
    color: #fff;
    padding: 12px 47px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1px;
    cursor: pointer;
    border: 1px solid #e3e3e3;
    border-radius: 10rem;
    text-align: center;
}

.grey-button {
    padding: 12px 47px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1px;
    color: #494949;
    cursor: pointer;
    background-color: #e3e3e3;
    border: 1px solid #e3e3e3;
    border-radius: 10rem;
    text-align: center;
}

.banner {
    position: relative;
    display: block;
}

.banner-img {
    width: 100%;
}

.general-menu {
    margin-left: 270px;
    margin-right: 80px;

}

.menu {
    margin: 0 2%;
    margin-left: .5rem;
    margin-right: .5rem;
    display: flex;
}

.browse-category {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-right: 31px;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 43px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #202124;
    margin-top: 100px;
    margin-bottom: 55px;
}

.horizontal-line {
    margin-right: 40px;
    border-top: 2px solid #e3e3e3;
    flex: 1 1;
    margin-top: 120px;
}

.menu-card {
    width: 16.5vw;
    height: 17.5vw;
    margin: 1%;
    display: inline-grid;
    background: #f8f7f5;
    position: relative;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    margin: 1%;
    color: #202124;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 22px;
}

.menu-img {
    width: 100%;
    height: 12.96296vw;
    border-radius: 4px 4px 0 0;
}

.menu-text {
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: .5px;
    text-transform: uppercase;
    color: #202124;
}

.single-img {
    width: 13.5vw;
    margin: 0 auto;
    height: 12.96296vw;
    border-radius: 4px 4px 0 0;
}

.all-menu-text {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    align-items: center;
    color: #202124;
    text-align: center;
    letter-spacing: .5px;
}

.arrow-img {
    height: 1vw;
    width: 2vw;
    margin-left: 7px;
    border-radius: 4px 4px 0 0;
}

.offer-container {
    background-color: #202124;
    overflow: hidden;
    margin-top: 90px;
}

.offer-card {
    margin-left: 12%;
}

.offer-icon {
    margin-bottom: 4.6%;
    margin-left: 4.2%;
}

.stripes-icon {
    margin: -3px auto 0;
    height: 55px;
}

.offer-heading {
    color: #fff;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    margin-left: 3.2%;
    justify-content: space-between;
}

.offer-title {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 38px;
    line-height: 43px;
    font-weight: 700;
}

.view-all-text {
    margin-right: 186px;
}

.view-offer {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
}

.offer-arrow {
    display: inline-block;
}

.offer-list {
    display: flex;
    flex-direction: column;
}

.offer-card-list {
    margin-bottom: 5.9%;
}

.slide-card {
    position: relative;
    display: block;
}

.slide-list {
    width: 135%;
    padding-left: 2rem;
    overflow: hidden;
    margin: 0;
    padding: 0;
    position: relative;
    display: block;

}

.card {
    opacity: 1;
    margin-left: 37px;
    width: 310px;
    height: 398px;
    display: block;
    float: left;
    min-height: 1px;
}

.image1 {
    width: 100%;
    display: inline-block;
}

.card-offer {
    box-shadow: 0 4px 9px rgba(0, 0, 0, .15);
    position: relative;
    height: 398px;
    background-color: #f8f7f5;
    border-radius: 8px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.zinger-image {
    height: 59%;
    object-fit: cover;
    border-top-left-radius: 3%;
    border-top-right-radius: 3%;
    display: block;
}

.offer-cart-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}

.offer-text {
    height: 43px;
    font-size: 30px;
    font-weight: 700;
    line-height: 43px;
    color: #e4002b;
    text-transform: uppercase;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.offer-content {
    height: 48px;
    font-family: "National 2 Regular";
    font-weight: 400;
    font-size: 14px;
    color: #202124;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.offer-button {
    display: flex;
    justify-content: inherit;
    position: absolute;
    bottom: -1%;
    align-items: baseline;
    width: 100%;
    margin-bottom: 30px;
}

.button-view {
    border: none;
    background: none;
    text-decoration: underline;
    padding: initial;
    font-family: "National2-Medium";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #494949;
}

.button-view:hover {
    background-color: #e3e3e3;
}

.button-offer {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    border: 1px solid #494949;
    background-color: transparent;
    border: 1px solid #202124;
    color: #202124;
    margin-left: 5px;
    padding: .656rem 2.75rem;
    border-radius: 10rem;
    text-align: center;
    align-items: center;
    flex-direction: row;
    font-style: normal;
}

.button-offer:hover {
    cursor: pointer;
    background-color: #202124;
    color: #fff;
}

.footer {
    width: 100%;
    height: 391.36px;
    background-color: #202124;
    padding: 5% 5% 0;
    font-size: 15px;
    line-height: 24px;
    color: #fff;
    display: block;
}

.row-one {
    display: inline-flex;
    justify-content: space-evenly;
    width: 100%;
    font-family: "National 2 Regular";
    font-size: 14px;
    margin-top: 2%;
    margin-bottom: 4%;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.row-two {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    text-align: center;
    margin-top: 2%;
    font-family: "National 2 Regular";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 22px;
    padding-bottom: 14px;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.footer-logo {
    color: #202124;
    font-family: "National 2 Regular";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 22px;
    text-decoration-line: underline;
    cursor: pointer;
    text-decoration: none;
    background-color: transparent;
}

.logo-kfc {
    cursor: pointer;
}

.category-items {
    display: inline-flex;
    justify-content: space-evenly;
    width: 42%;
    margin-left: 2%
}

.title {
    font-family: "National 2 Regular";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    margin-bottom: 10px;
}

.footer-links {
    padding-left: 0;
    margin-top: 0;
    list-style: none;
    width: 30%;
    text-align: left;
    margin-bottom: 1rem;
}

.links-menu {
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
    font-weight: 400;
    font-size: 14px;
    color: #e3e3e3;
    padding-right: 40%;
}

.find-store {
    width: 9%;
}

.find-link {
    text-decoration: underline;
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    cursor: pointer;
}

.social-btns {
    margin-left: 0;
    margin-bottom: 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    grid-column-gap: 5%;
    column-gap: 5%;
}

.row-two {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    text-align: center;
    margin-top: 2%;
    font-family: "National 2 Regular";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 22px;
    padding-bottom: 14px;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    color: #fff;
}

.column-lang{
    margin-left: 4%;
    display: flex;
    align-items: center;
}

.column {
    display: flex;
    align-items: center;
}

.copyright {
    margin: 0;
    font-family: "National 2 Regular";
    font-size: 12px;
    text-align: center;
    opacity: .9;
    line-height: 12px;
    color: #dbdbdb;
}

.column-social{
    margin-right: 4%;
}

.social-icons {
    text-align: right;
    margin-top: 0;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
li{
    display: inline-block;
    margin-bottom: 4px;
    
}

.social{
    margin-left: 10px;
    display: inline-block;
    margin-bottom: 4px;
}